doctype xml
vxml(
	version="2.1",
	xmlns="http://www.w3.org/2001/vxml",
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance",
	xsi:schemaLocation="http://www.w3.org/2001/vxml http://www.w3.org/TR/voicexml20/vxml.xsd",
	application=(appName? appName : undefined)
)
	//- properties
	- for (var name in properties) {
	- 	if (properties.hasOwnProperty(name)) {
				property(name="#{name}", value="#{properties[name]}")
	-		}
	- }

	block body
