extends layout
block body
	var(name="event", expr="'continue'")
	var(name="sessionid", expr="'#{sessionid}'")

	form(id="#{id}")
		#{'block'}
			!{renderView('prompt', { prompts: prompts })}

			submit(
				next="#{nextUri}",
				method=(submitMethod == 'post'? submitMethod : undefined),
				namelist="event sessionid"
			)
