extends layout
block body
	var(name="event", expr="'continue'")
	var(name="sessionid", expr="'#{sessionid}'")

	form(id="#{id}")
		record(
			name="callersMessage",
			beep="#{beep}",
			maxtime="#{maxTime}s",
			finalsilence="#{finalSilence}",
			type="#{type}"
		)
			!{renderView('prompt', { prompts: prompts })}

		filled
			submit(
				expr="'#{nextUri}?event=' + event + '&sessionid=' + sessionid",
				method="post",
				namelist="callersMessage",
				enctype="multipart/form-data"
			)
